body{
    background-image: url('/img/nakgrund.jpg');}
*{margin: 0px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;}
a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
    color: lightsalmon;
  }
#banner{
    width: 100%;
}
#grid_wrapper_main{
    width: 99vw;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: 
    "he he he"
    "na na na"
    "as1 er as2"
    "as1 di as2"
    "fo fo fo"
    ;
    /* justify-content: space-around; */
    row-gap: 10px;
}
header{
    height: auto;
    width: 100%;
     display: block;
     grid-area: he;
}
#main_nav{
    grid-area: na;
    display: block;
    height: 50px;
    background-color: lightblue;
    grid-area: na;
    margin-top: -5px;
}
#main_meny{
    list-style: none;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}
#main_meny li{
    align-self: center;
}
#aside_left{
    width: 100%;
    display: block;
    grid-area: as1;
}
#aside_right{
    display: block;
    grid-area: as2;
    background-color: khaki;
}
.aside_bild{
    width: 100%;
    height: 100%;
}
#erbjudanden{
    grid-area: er;
    display: block;
    height: 90% ;
    width: auto;
    background-color: lightcyan;
    margin: 5px;
    justify-self: center;
}
#med-inf{
    display: grid;
    grid-area: di;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "med inf"
    ;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.medlem_bild{
    height: 100%;
    width: auto;
}
#medlem{
    grid-area: med;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 69% 35%;
}
#info2{
 grid-area: inf;
}
.box{
    display: block;
    width: 600px;
    height: 300px;
    background-color: lightblue;
}
footer{
    background-color: #d3d3d3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    height: 350px;
    width: 100%;
}
#footer_left{
    height: 100%;
}
#footer_left p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer_right{
    display: grid;
    height: 350px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "fa in"
    "tw sn"
    "nc nc"
    ;
}
#facebook{
    display: block;
    grid-area: fa;
}
#instagram{
    display: block;
    grid-area: in;
}
#twitter{
    display: block;
    grid-area: tw;
}
#snapchat{
    display: grid;
    grid-area: sn;
}
.sociala_medier{
    height: 100%;
}
#main_footer{
    grid-area: fo;
}
@keyframes img_animation {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;     
    }
    /* 90% {
        opacity: 0;     
    } */
    to {
        opacity: 1;        
    }
}
img.animation{
    animation: img_animation ease infinite ;
}
.animation{
    height: 100%;
    width: 100%;
}
#erbjudande_2{
    animation-duration: 30s; animation-delay: 10s; animation-timing-function: step-start ; animation-timing-function: step-end;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
#erbjudande_1{
    animation-duration: 30s; animation-delay: 20s; animation-timing-function: step-start ; animation-timing-function: step-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} 
#erbjudande_3{
    animation-duration: 30s; animation-delay: 0s; animation-timing-function: step-start ; animation-timing-function: step-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.img-container { position: relative; }

/* meny */

#grid_wrapper_meny{
    width: 99vw;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: 
    "he he he"
    "na na na"
    "as1 ru as2"
    "as1 me as2"
    "as1 me as2"
    "fo fo fo"
    ;
    /* justify-content: space-around; */
    row-gap: 10px;
    margin-left: center;
    margin-right: center;
}
#rubrik{
    grid-area: ru;
    background-color: darkgrey;
    opacity: 80%;
    justify-content: center;
    display: flex;
    margin: -5;
    margin-bottom: -10px;
}
#rubrik h1{
    font-size: 70px ;
    color: yellow;
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: cursive;
}
#meny_section{
    background-color:darkgray;
    grid-area: me ;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.disches{
    background-color: #d3d3d3;
    margin: 5px;
}
.disches p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

/* om_oss */

#grid_wrapper_om_oss{
    width: 97vw;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: 
    "he he he"
    "na na na"
    "as1 se as2"
    "as1 se1 as2"
    "fo fo fo"
    ;
    /* justify-content: space-around; */
    row-gap: 10px;
    column-gap: 20px;
    margin-left: center;
    margin-right: center;
}
#om_oss_hitta_hit{
    grid-area: se;
    display: grid;
    grid-template-areas: 
    "bi ka"
    "text_l text_r"
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    row-gap: 10px;


}
#om_oss_hitta_hit img{
    width:100% ;
    height: 100%;
}
#hitta_till_oss{
    grid-area: text_r;
    background-color: #add8e6;
}
#om_oss_om_oss p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 1000;
}
#hitta_till_oss p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 1000;
}
#om_oss_om_oss{
    grid-area: text_l;
    background-color: lightblue;

}