body{
    background-image: url('/img/nakgrund.jpg');
}
*{margin: 0px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#banner{
    width: 100%;
}
#grid_wrapper{
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: 
    "he he he"
    "na na na"
    "as1 er as2"
    "as1 di as2"
    "fo fo fo"
    ;
    /* justify-content: space-around; */
    row-gap: 10px;
}
#main_header{
    grid-area: he;
}
header{
    height: auto;
    width: 100%;
     display: block;
}
#main_nav{
    grid-area: na;
}
#aside_left{
    width: 50px;
    display: block;
    grid-area: as1;
}
#asdie_right{
    display: block;
    grid-area: as2;
    background-color: khaki;
}
.aside_bild{
    width: 100%;
    height: 100%;
}
nav{
    display: block;
    height: 50px;
    background-color: lightblue;
    
}
#erbjudanden{
    grid-area: er;
    display: block;
    height: 500px ;
    width: 1222px;
background-color: lightcyan;
margin: 5px;
justify-self: center;
}
#med-inf{
    display: grid;
    grid-area: di;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "med inf"
    ;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
#medlem{
    grid-area: med;
    
}
#info2{
 grid-area: inf;
}
.box{
    display: block;
    width: 660px;
    height: 300px;
    background-color: khaki;
}
footer{
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    height: 350px;
    width: 100%;
}
#footer_left{
    height: 100%;
}
#footer_right{
    display: grid;
    height: 350px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "fa in"
    "tw sn"
    "nc nc"
    ;
}
#facebook{
    display: block;
    grid-area: fa;
}
#instagram{
    display: block;
    grid-area: in;
}
#twitter{
    display: block;
    grid-area: tw;
}
#snapchat{
    display: grid;
    grid-area: sn;
}
.sociala_medier{
    height: 100%;
}
#main_footer{
    grid-area: fo;
}
ul{
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

@keyframes img_animation {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;     
    }
    /* 90% {
        opacity: 0;     
    } */
    to {
        opacity: 1;        
    }
}
img.animation{
    animation: img_animation ease infinite ;
}

#erbjudande_2{
    animation-duration: 20s; animation-delay: 0s; animation-timing-function: step-start ; animation-timing-function: step-end;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

#erbjudande_1{
    animation-duration: 20s; animation-delay: 10s; animation-timing-function: step-start ; animation-timing-function: step-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} 

.img-container { position: relative; }

